
@{
	ViewData["Title"] = "FormResult";
}

@model GasMileageCalculator.Models.GasMileage.FormResultViewModel

<h1>Fuel Range (In Miles):</h1>
<h2>@Model.FuelRange</h2>

<h1>Can You Make The Trip?</h1>
<h2>@Model.SuccessfulTrip</h2>



